@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;300&display=swap");

:root {
  --navbar: #14151c;
  --background: #f0f0f0;
  --foreground: #21232d;
  --surface: #e6e6e6;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Poppins";
}
.navbar {
  position: fixed;
  top: 0;
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  background-color: var(--navbar);
  justify-content: space-between;
  height: 55px;
  padding: 0 15em;
  z-index: 1;
  .left-nav {
    a {
      padding: 0.5rem 1rem;
      display: inline-block;
      color: var(--background);
      text-decoration: none;
      font-size: 17px;
      line-height: 40px;
    }
    a.logo {
      font-family: "Poppins";
      font-weight: bold;
      font-size: 20px;
      margin-right: 1em;
    }
    .active {
      font-weight: 700;
      text-transform: uppercase;
      border-bottom: 2px solid var(--foreground);
    }
  }
  .right-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    align-items: center;
    gap: 1rem;
    .icon {
      text-decoration: none;
      height: 40px;
      width: 40px;
      background-color: var(--background);
      color: var(--foreground);
      border-radius: 0.5em;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    .burguer {
      display: none;
    }
  }
}

.section-about {
  display: flex;
  min-height: 100vh;
  height: fit-content;
  background-color: var(--background);
  .container-about {
    display: flex;
    margin-top: 55px;
    padding: 2em 15em;
    width: 100vw;
    gap: 4em;
    .about1 {
      display: block;
      text-align: center;
      min-width: max-content;
      align-self: center;
      .about1-image {
        border-radius: 50%;
        height: 15em;
        box-shadow: 0 0 4px var(--foreground);
      }
      .about1-info-block {
        display: block;
        p {
          margin: 0;
          color: var(--foreground);
        }
        .name {
          font-size: 45px;
          font-weight: 700;
        }
        .degree {
          font-size: 19px;
        }
        .about1-buttons {
          padding-top: 1em;
          display: flex;
          justify-content: center;
          gap: 1em;
          i {
            padding: 1em;
            color: var(--foreground);
          }
        }
      }
    }
    .container-about-me {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      color: var(--foreground);
      .title {
        font-size: 30px;
        margin: 0;
        border-bottom: 2px solid var(--foreground);
      }
      p {
        text-align: justify;
        line-height: 1.8em;
      }
      a {
        color: #f0f0f0;
      }
      ul {
        columns: 2;
        li {
          padding: 1em;
          margin-right: 2em;
        }
      }
    }
  }
}

.section-work {
  display: flex;
  height: fit-content;
  background-color: var(--background2);
  .container-work {
    display: flex;
    flex-wrap: wrap;
    padding: 5em 15em;
    width: 100vw;
    gap: 4em;
    .title {
      flex-grow: 1 100%;
      color: var(--foreground);
      font-size: 30px;
      margin: 0;
      border-bottom: 2px solid var(--foreground);
      align-self: flex-start;
      flex: 1 100%;
    }
    .work-entry {
      display: flex;
      background-color: var(--surface);
      border-radius: 1em;
      flex-grow: 1;
      box-shadow: 0 0 0.3em var(--navbar);
      color: var(--foreground);

      .date {
        text-align: center;
        border-right: 2px solid var(--background);
        padding: 1em;
        padding: 1em 3em;
      }
      .position {
        align-self: center;
        padding: 2em;
        .title {
          font-size: 20px;
          font-weight: 700;
          border: none;
        }
        .company {
          font-size: 15px;
        }
      }
      .logo {
        flex-grow: 1;
        text-align: right;
        align-self: center;
        padding: 1em;
        border-radius: 1em;
        justify-self: flex-end;
      }
    }
  }
}

.section-studies {
  display: flex;
  height: fit-content;
  background-color: var(--background);
  .container-studies {
    display: flex;
    flex-wrap: wrap;
    padding: 5em 15em;
    width: 100vw;
    gap: 4em;
    .title {
      flex-grow: 1 100%;
      color: var(--foreground);
      font-size: 30px;
      margin: 0;
      border-bottom: 2px solid var(--foreground);
      align-self: flex-start;
      flex: 1 100%;
    }
    .study-entry {
      display: flex;
      background-color: var(--surface);
      border-radius: 1em;
      flex-grow: 1;
      box-shadow: 0 0 0.3em var(--navbar);
      color: var(--foreground);

      .date {
        text-align: center;
        border-right: 2px solid var(--background);
        padding: 1em 3em;
      }
      .position {
        align-self: center;
        padding: 2em;
        flex-grow: 1;

        .title {
          font-size: 20px;
          font-weight: 700;
          border: none;
        }
        .company {
          font-size: 15px;
        }
      }
      .logo {
        text-align: center;
        align-self: center;
        padding: 1em;
        border-radius: 1em;
        justify-self: flex-end;
        width: 250px;
      }
    }
  }
}

.section-skills {
  display: flex;
  height: fit-content;
  background-color: var(--background2);
  .container-skills {
    display: flex;
    flex-wrap: wrap;
    padding: 5em 15em;
    width: 100vw;
    gap: 1em;
    .title {
      flex-grow: 1 100%;
      color: var(--foreground);
      font-size: 30px;
      margin: 0;
      border-bottom: 2px solid var(--foreground);
      align-self: flex-start;
      flex: 1 100%;
    }
    .skills-entry {
      background-color: var(--surface);
      border-radius: 1em;
      max-width: 8vw;
      padding: 0.8em;
      text-align: center;
      height: fit-content;
      width: 90px;
      min-width: fit-content;
      color: var(--foreground);
      box-shadow: 0 0 0.3em var(--navbar);

      .skill-img {
        height: 80px;
        width: 80px;
      }
      .skill-txt {
        margin: 0;
        padding-top: 0.5em;
      }
    }
  }
}

.section-experiences {
  display: flex;
  height: fit-content;
  background-color: var(--background);
  .container-experiences {
    display: flex;
    flex-wrap: wrap;
    padding: 5em 15em;
    width: 100vw;
    gap: 4em;
    justify-content: flex-start;
    .title {
      flex-grow: 1 100%;
      color: var(--foreground);
      font-size: 30px;
      margin: 0;
      border-bottom: 2px solid var(--foreground);
      justify-content: space-between;
      flex: 1 100%;
    }
    .experiences-entry {
      background-color: var(--surface);
      max-width: 25vw;
      text-align: center;
      max-height: 80vh;
      border-radius: 0.5em;
      box-shadow: 0 0 0.3em var(--navbar);
      color: var(--foreground);

      .date {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 1em;
        .type {
          font-weight: bold;
        }
      }
      .photo {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
      }
      p {
        margin: 1rem;
        text-align: left;
      }
      p.job {
        font-size: 22px;
      }
      p.company {
        font-size: 15px;
      }
      p.location {
        text-align: right;
        padding-top: 1em;
      }
    }
  }
}

.section-publications {
  display: flex;
  height: fit-content;
  background-color: var(--background2);
  .container-publications {
    display: flex;
    flex-wrap: wrap;
    padding: 5em 15em;
    width: 100vw;
    gap: 4em;
    .title {
      flex-grow: 1 100%;
      color: var(--foreground);
      font-size: 30px;
      margin: 0;
      border-bottom: 2px solid var(--foreground);
      align-self: flex-start;
      flex: 1 100%;
    }
    .publications-entry {
      flex-grow: 1;
      background-color: var(--surface);
      color: var(--background);
      padding: 1.5em;
      border-radius: 1em;
      box-shadow: 0 0 0.3em var(--navbar);
      color: var(--foreground);

      p {
        margin: 0;
        padding: 0.1em;
      }
      .name {
        font-size: 22px;
        padding-bottom: 0.5em;
      }
      .other {
        text-align: right;
        font-weight: bold;
        padding-top: 1.5em;
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .navbar {
    padding: 0 3em;

    .right-nav {
      flex-grow: 1;
      justify-content: flex-end;
      .burguer {
        display: flex;
      }
    }
    .left-nav {
      display: none;
      position: absolute;
      right: 0;
      margin-right: 3em;
      margin-top: 55px;
      width: 50vw;
      opacity: 100%;
      background-color: var(--surface);
      a {
        text-align: right;
        display: block;
      }
    }
  }
  .section-about {
    .container-about {
      padding: 5em 3em;
    }
  }
  .section-work {
    .container-work {
      padding: 5em 3em;
    }
  }
  .section-studies {
    .container-studies {
      padding: 5em 3em;
    }
  }
  .section-skills {
    .container-skills {
      padding: 5em 3em;
    }
  }
  .section-experiences {
    .container-experiences {
      padding: 5em 3em;
    }
  }
  .section-publications {
    .container-publications {
      padding: 5em 3em;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .section-about {
    .container-about {
      flex-wrap: wrap;
      flex-grow: 1;
      gap: 1em;
      .about1 {
        flex-grow: 1;
      }
    }
  }
  .section-experiences {
    .container-experiences {
      justify-content: flex-start;
      gap: 1em;
      .experiences-entry {
        max-width: 33vw;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .section-experiences {
    .container-experiences {
      justify-content: center;
      .experiences-entry {
        // flex: 1 100%;
        // flex-grow: 1 100%;
        width: 100vw;
        max-width: 70vw;
        max-height: none;
      }
    }
  }
}
