@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --main-color: #303841;
  --text: #eeeeee;
  --second-color: #3a4750;
  --other: #d65a31;
  --darker: #21262c;
  --aa: hsl(212, 64%, 50%);
}

a {
  color: var(--text)
}

a:hover{
  color: var(--other);
}

body {
  margin: 0rem;
  padding: 0;
  background-color: var(--main-color);
  color: var(--text);
}

h1 {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 50px;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 30px;
  margin: 1rem 0 2.5rem;
}

h3 {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

h4 {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

h5 {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

p {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  display: block;
  top: 0;
  text-align: center;
  width: 100%;
  color: var(--text);
  .nav-container {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: var(--darker);      
    opacity: 0.95;

    .left-nav {
      .nav-btn {
        width: 35px;
        height: 35px;
        background-color: var(--text);
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: var(--main-color);
        border-radius: 0.3rem;
        box-shadow: 2px 4px 1px 1px rgba(0, 0, 0, 0.3);
      }
    }
    .center-nav {
      display: none;
      position: absolute;
      top: 3rem;
      width: 100%;
      left:0;
      background-color: var(--darker);
      opacity: 0.95;
      .nav-ul {
        display: block;
        margin: 0;
        padding: 1rem;
        .nav-li {
          list-style: none;
          cursor: pointer;
          margin-top: 0.5rem;
        }
        a {
          text-decoration: none;
          color: var(--text);
        }
        p {text-transform: uppercase;}
        p:hover {
          font-weight: 700;
          color: var(--other)
        }
        .active {
          font-weight: 700 !important;
          color: var(--other);
        }
      }
    }
    .right-nav {
      .nav-ul {
        display: flex;
        margin: 0;
        padding: 0;
        gap: 0.5rem;
        .nav-li {
          list-style: none;
          margin: 0;
          cursor: pointer;

          .nav-btn {
            width: 35px;
            height: 35px;
            background-color: var(--text);
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: var(--main-color);
            border-radius: 0.3rem;
            box-shadow: 2px 4px 1px 1px rgba(0, 0, 0, 0.3);
          }
          .rotate:hover {
            opacity: 0.5;
            .nav-icon {
              animation: rotate 8s linear infinite;
            }
          }
          @keyframes rotate {
            100% {
              transform: rotate(360deg);
            }
          }
        }
      }
    }
  }
}

.section-container {
  padding: 5rem 1rem 2rem;
  text-align: center;

}
.light-container {
  background-color: var(--second-color);
}

.container-max {
  max-width: 992px;
  margin: 0 auto;
}

.profile-container {
  img {
    width: 191px;
    border-radius: 50%;
  }
  .info-btns-box {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
    .info-btn {
      width: 25px;
      height: 25px;
      background-color: var(--text);
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: var(--main-color);
      border-radius: 0.3rem;
    }
  }
  .download-btn {
    padding: 1rem 1rem;
    background-color: var(--text);
    width: fit-content;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    align-items: center;
    border-radius: 20rem;
    i {
      color: var(--main-color);
    }
    h5 {
      color: var(--main-color);
      margin: 0;
    }
  }
  h3 {
    color: var(--other);
  }
}

.about-container {
  .sub-container {
    p {
      text-align: justify;
      line-height: 1.8;
    }
    margin-bottom: 1rem;
    .interests-box {
      .p-border {
        border: 1px solid var(--text);
        border-radius: 0.5rem;
        text-align: center;
        width: 170px;
        margin: 0.3rem auto;
        box-shadow: 2px 4px 1px 1px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.general-container {
  .row {
    .general-box {
      margin: 1rem auto;
      max-width: 500px;
      .date-flex {
        display: flex;
        align-items: center;
        h5 {
          color: var(--other);
          white-space: nowrap;
        }
        .hline {
          flex-basis: 100%;
          margin: 0 1rem;
          height: 1.5px;
          background-color: var(--other);
        }
      }
      .general-text {
        padding: 0 1rem;
        text-align: left;
        h3 {
          margin: 1rem 0;
        }
        .p-right {
          text-align: right;
          margin-top: 0.5rem;
        }
        .p-bold {
          font-weight: 700;
          text-decoration: underline;
        }
        .logo-box {
          margin: 1rem 0 0 auto;
          background-color: rgba(255, 255, 255, 0.1);
          width: fit-content;
          border-radius: 1rem;
          box-shadow: 2px 4px 1px 1px rgba(0, 0, 0, 0.3);
          img {
            width: 175px;
            padding: 0.8rem 1rem;
          }
        }
        .image-box {
          text-align: center;
          margin: 1rem auto 0;

          img {
            width: 90%;
            max-width: 400px;
            border-radius: 1rem;
            box-shadow: 2px 4px 1px 1px rgba(0, 0, 0, 0.2);
          }
        }

        h4,
        p {
          margin: 1rem 0;
        }
      }
    }
  }
}

.skills-container {
  .skills-box {
    margin: 1rem 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    .skills-entry {
      background-color: rgba(0, 0, 0, 0.2);
      box-shadow: 2px 4px 1px 1px rgba(0, 0, 0, 0.3);
      padding: 1rem 1.5rem;
      border-radius: 1rem;
      p {
        margin-top: 1rem;
      }
      img {
        width: 60px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  body {
    margin: 0rem;
    padding: 0;
    background-color: var(--main-color);
    color: var(--text);
  }

  h1 {
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    font-size: 60px;
    margin: 0;
    padding: 0;
  }

  h2 {
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    font-size: 36px;
    padding: 0;
  }

  h3 {
    font-family: "Dosis", sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin: 0;
    padding: 0;
  }

  h4 {
    font-family: "Dosis", sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin: 0;
    padding: 0;
  }

  h5 {
    font-family: "Dosis", sans-serif;
    font-weight: 500;
    font-size: 19.2px;
    margin: 0;
    padding: 0;
  }

  p {
    font-family: "Dosis", sans-serif;
    font-weight: 400;
    font-size: 19.2px;
    margin: 0;
    padding: 0;
  }
  nav {
    .nav-container {
      padding: 1rem 3rem;
      .left-nav {
        .nav-btn {
          width: 38px;
          height: 38px;
          font-size: 19.2px;
        }
      }
      .right-nav {
        .nav-ul {
          .nav-li {
            .nav-btn {
              width: 38px;
              height: 38px;
              font-size: 19.2px;
            }
          }
        }
      }
    }
  }
  .section-container {
      padding: 5rem 3rem 2rem;
  }
  .profile-container {
    img {
      width: 240px;
    }
    .info-btns-box {
      .info-btn {
        width: 35px;
        height: 35px;
        font-size: 19.2px;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  nav {
    .nav-container {
      padding: 1rem 5.8rem;
      .center-nav {
        margin: 0 2rem;
        position: static;
        align-self: center;
        flex-basis: 100%;
        display: block;
        align-items: center;
        .nav-ul {
          display: flex;
          margin: 0;
          padding: 0;
          gap: 0.5rem;
          .nav-li {
            list-style: none;
            margin: 0 0.5rem;
            p {
              text-transform: uppercase;
              font-size: 18px;
            }
          }
        }
      }
      .right-nav {
        .nav-ul {
          .burguer-li {
            display: none;
          }
        }
      }
    }
  }
  .section-container {
      padding: 6rem 8rem 2rem;
  }
}
