@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;300&display=swap");
:root {
  --navbar: #14151c;
  --background: #21232d;
  --foreground: #f0f0f0;
  --surface: #343746;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  background-color: var(--background);
  font-family: "Alegreya Sans SC";
  color: var(--foreground);
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100vh;
  max-height: 100vh;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.main-section .icon-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  margin: 1em 3em;
  gap: 1em;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-section .icon-buttons .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--foreground);
  background-color: var(--surface);
  border-radius: 1em;
  width: 50px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.main-section .main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 2em 2rem;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-section .main-container .title-block {
  margin: 1rem;
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  text-align: center;
  border-top: 2px solid var(--foreground);
  border-bottom: 2px solid var(--foreground);
}

.main-section .main-container .title-block .title {
  font-size: 100px;
  letter-spacing: 0.1em;
}

.main-section .main-container .button-block {
  margin: 1rem auto;
  padding: 1rem auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  text-align: center;
  max-width: 30%;
  cursor: pointer;
  text-decoration: none;
}

.main-section .main-container .button-block .button-title {
  letter-spacing: 0.5em;
  margin: 1rem 0 0.5rem 0;
}

.main-section .main-container .button-block .button-image-block {
  background-color: var(--surface);
  padding: 2rem 0;
  margin: 0;
  border-radius: 0.2em;
  color: var(--foreground);
}

@media only screen and (max-width: 950px) {
  .main-section .main-container .button-block {
    max-width: 40%;
  }
}

@media only screen and (max-width: 740px) {
  .main-section .main-container .button-block {
    max-width: 80%;
  }
  .main-section .main-container .title-block .title {
    font-size: 60px;
  }
}

@media only screen and (max-width: 600px) {
  .main-section .main-container .button-block {
    max-width: 60%;
  }
  .main-section .main-container .title-block .title {
    font-size: 40px;
  }
}

@media only screen and (max-width: 500px) {
  .main-section .main-container {
    margin: 0 2rem;
    padding-top: 0;
  }
  .main-section .main-container .title-block .title {
    font-size: 35px;
  }
  .main-section .main-container .button-block .button-image-block .fa-5x {
    font-size: 4.5em;
  }
}
/*# sourceMappingURL=main-dark.css.map */